.latest-post-start {
    font-size: 1.5rem;
    margin-left: 20%;
    margin-bottom: 5%;
}

.post-start {
    font-size: 1.5rem;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 7%;
}

.post-container {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 2%;
}