.blog {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.blog-desc {
    margin-left: 19%;
    margin-right: 19%;
    width: 57%;
}

.text-holder-1 {
    margin-top: 1%;
}

.book-holder {
    margin-top: 5%;
    margin-left: 5%;
}