.blog-type {
    display: inline-block;
    border-bottom: solid 2px black;
    width: 40%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    height: 250px;
}

.blog-type-title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    vertical-align: bottom;
    height: 50%;
}

.blog-type-desc {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    vertical-align: bottom;
    height: 40%;
}

.blog-link {
    text-decoration: none;
    color: black;
}