.book {
    display: flex;
}

.book-cover {
    height: 300px;
    width: 200px;
    background-size: cover;
    box-shadow: 7px 7px 10px;
    margin-left: 35px;
    cursor: pointer;
}

.book-desc {
    margin-top: 3%;
    width: 70%;
}

.book-year-bar {
    cursor: pointer;
}

.book-year {
    margin-top: 3%;
    margin-bottom: 3%;
}

.book-icon {
    font-size: xx-large;
    float: left;
    margin-right: 3%;
    margin-left: 3%;
}

.book-year-divider {
    background-color: black;
    border-bottom: solid 3px black;
    height: 1px;
    margin-top: 1.1%;
    margin-left: 3%;
    width: 90%;
}

.book-list {
    margin-left: 4%;
}