.book {
    display: flex;
}

.book-cover {
    height: 300px;
    width: 200px;
    background-size: cover;
    box-shadow: 7px 7px 10px;
    margin-left: 35px;
    cursor: pointer;
}

.book-desc {
    margin-top: 3%;
    width: 70%;
}