
.currenntly-reading {
    margin-left: 30%;
    margin-bottom: 8%;
}

.previous-read {
    margin-top: 2%;
    height: 300px;
    width: 200px;
    background-image: url('https://cdn.iconscout.com/icon/free/png-256/navigate-next-1782191-1512969.png');
}

.previous-read-link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
}

.currently-reading-books {
    display: flex;
}
               
.currently-reading-desc {
    margin-bottom: 4%;
    margin-right: 20%;
}