.home-logo {
    color: white;
    position: absolute;
    left: 2%;
    font-size: 2rem;
    padding: 2%;
}

.home-logo:hover {
    color: yellowgreen;
}

.nav-bar {
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.4%;
    background-color: black;
}

.nav-link {
    margin-left: 4%;
    margin-top: 0.5%;
    float: left;
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 2% 1% 2% 1%;
}

.nav-link:hover {
    color: yellowgreen;
}

.nav-bar-line {
    background-color: black;
    border: solid 3px black;
    margin-bottom: 5%;
}