
.post-head {
    margin-left: 3%;
}

.post-title {
    font-weight: bolder;
    width: 75%;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 1.2rem;
}

.post-date {
    width: 25%;
    font-size: 1.2rem;
}

.post-description {
    margin-bottom: 5%;
}

.post-image {
    height: 300px;
    cursor: pointer;
    background-size: cover;
    margin-bottom: 1%;
}

.post-link {
    text-decoration: none;
    color: black;
}

.post-tags {
    margin-left: 3%;
    margin-bottom: 11%;
}

.post {
    display: inline-block;
    width: 40%;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 7%;
    box-shadow: 7px 7px 10px;
}