
.vertical-line-bottom {
    border: solid 1px black;
    margin-bottom: 5%;
    margin-top: 8%;
}

.post-head {
    display: flex;
}

.post-title {
    width: 75%;
    margin-bottom: 2%;
    font-size: 1.2rem;
}

.post-date {
    width: 25%;
    font-size: 1.2rem;
}

.post-description {
    margin-left: 22%;
    margin-bottom: 1%;
}

.post-image {
    height: 400px;
    cursor: pointer;
    background-size: cover;
    margin-bottom: 1%;
}

.post-link {
    text-decoration: none;
    color: black;
}

.post {
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 12%;
}