.tag-item {
    display: inline-flex;
    flex-wrap: wrap;
    float: left;
    border: solid 1px black;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.25%;
    padding-bottom: 0.5%;
    margin-right: 1%;
    border-radius: 15px;
}